.App {
  font-family: sans-serif;
  text-align: center;
}

emp-form {
  margin: 5px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.emp {
  border: 1px solid grey;
  padding: 5px;
}

.flex-component {
  width: 100%;
}

.lable-grp {
  width: 100px;
}
